---
- name: Check if a reboot is needed for Debian and Ubuntu boxes
  register: reboot_required_file
  ansible.builtin.stat:
    path: /var/run/reboot-required
    get_md5: no

- name: Apply Reboot
  when: reboot_required_file.stat.exists
  block:
    - name: Read reboot Reason
      ansible.builtin.command: cat /var/run/reboot-required.pkgs
      changed_when: False
      register: reboot_reason

    - name: Packages Requesting Reboot
      ansible.builtin.debug:
        msg: "{{ reboot_reason.stdout }}"

    - name: Reboot the Debian or Ubuntu server
      ansible.builtin.reboot:
        msg: "Reboot initiated by Ansible due to kernel updates"
        connect_timeout: 5
        reboot_timeout: 300
        pre_reboot_delay: 0
        post_reboot_delay: 30
        test_command: uptime

    - name: Remove Reboot Flag
      ansible.builtin.file:
        path: /var/run/reboot-required
        state: absent
